<!-- Modal eliminar pago-->
<div class="modal fade" id="modalEliminarPago" tabindex="-1" aria-labelledby="modalEliminarPagoLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEliminarPagoLabel">Eliminar pago</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form id="url-eliminar-modal" hidden name="eliminar-pago">
               <input  name="inicio-pago" value="{{inicio_pago}}">
               <input name="final_pago" value="{{final_pago}}">

            </form>
            ¿Estas seguro que deseas eliminar el pago?. Su informacion no podra ser recuperada, y se eliminara de manera PERMANENTE de la base de datos.
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" form="url-eliminar-modal" class="btn btn-danger">Eliminar</button>
         </div>
      </div>
   </div>
</div>


