<!-- Modal finalizar visita -->
<div class="modal fade" id="modalEnvioForm" tabindex="-1" aria-labelledby="modalEnvioFormLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEnvioFormLabel">Enviar pedido</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            ¿Estas seguro que deseas realizar el pedio? No podras editarlo una vez haya sido enviado, y pasara a ser visibles para los encargados de inventario.
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

            <button type="submit" form="pedidoForm" class="btn btn-success">Guardar</button>

         </div>
      </div>
   </div>
</div>


