{% extends 'base.html' %}

{% block content %}
   {% block titulo %} 
      <h2 class="text-center">Todas las obras</h2>
   {% endblock titulo %}

   {% include 'modals/eliminar_obra.html' %}

   <div class="row">
      <div class="col-md-12">
         <div class="table-responsive">
            <table class="table table-hover sticky table-striped align-middle" id="clientes-table">
               <thead>               
                     <th class="text-center" col-index=1>Nombre</th>
                     <th class="text-center" col-index=2>Direccion</th>
                     <th class="text-center" col-index=3>Fecha de inicio
                        <select class="table-filter form-select text-center" onchange="filter_rows()">
                           <option value="all">Todos</option>
                        </select>
                     </th>
                     <th class="text-center" col-index=4>Estado
                        <select class="table-filter form-select text-center" onchange="filter_rows()">
                           <option value="all">Todos</option>
                        </select>
                     </th>
               </thead>
               <tbody>             
                  {% for obra, obra_url in obras %}
                     <tr class="text-center">
                        <td><a href="{% url 'fachadas:detalles-obra' obra.pk año_mes dia %}">{{obra.nombre_obra}}</a> <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminarObra" title="Eliminar"   onclick="setUrlModal('{{obra_url}}')"> <i class="bi bi-trash"></i></button>  </td>
                        <td>{{obra.direccion}}</td>
                        <td>{{obra.fecha_inicio}}</td>
                        <td>{{obra.estado}}</td>
                     </tr>
                  {% endfor %}
               </tbody>

            </table>
            <hr/>
            <div class="text-center">
               <a href="{% url 'fachadas:iniciar-obra' %}" class="btn btn-success align-self-lg-center" role="button">Iniciar una nueva obra</a>
            </div> 
         </div>
      </div>
   </div>
{% endblock content %}

