.info-parent{
   border: 3px solid grey;
   height: 100%;
}

.info-cliente{
   background-color: grey;
   padding: 10px;
}
.table.sticky{
   text-align: center;
   height: 650px;
   display: block;
   overflow-y: auto;
}

.table.sticky thead{
   position: sticky;
   z-index: 1;
   top: 0;
   background-color: gray;
}

.table.sticky th{
   width:450px;
}

button:disabled {
   position: static !important;
}

img.logo{
   padding-left: 10px;
   width: 120px;
   height: 40px;
}
