<!-- Modal eliminar obra-->
<div class="modal fade" id="modalEliminarSubelemento" tabindex="-1" aria-labelledby="modalEliminarSubelementoLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEliminarSubelementoLabel">Eliminar subelemento</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            ¿Estas seguro que deseas eliminar el subelemento?. Su informacion no podra ser recuperada, y se eliminara de manera PERMANENTE de la base de datos.
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
               <a id="url-eliminar-subelemento" class="btn btn-danger">Eliminar</a>
         </div>
      </div>
   </div>
</div>


