<!-- Modal eliminar cliente-->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEliminarLabel">Eliminar cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            ¿Estas seguro que deseas eliminar el cliente?. Su informacion no podra ser recuperada, y se eliminara de manera PERMANENTE de la base de datos.
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            {% with pk as cliente_pk  %}
               <a href="{% url 'clientes:eliminar-cliente' cliente_pk %}" class="btn btn-danger">Eliminar</a>
            {% endwith %}
         </div>
      </div>
   </div>
</div>


