<!-- Modal pagar nomina -->
<div class="modal fade" id="modalPagarNomina" tabindex="-1" aria-labelledby="modalPagarNominaLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalFinalizarLabel">Pagar nomina</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            ¿Estas seguro que deseas pagar la nomina? Una vez se haya realizado la accion, se le restaran a los aucmulados de cada trabajador los valores a pagar en el periodo seleccionado.

            <div class="text-center" style="text-align: center;">
               <form action="{% url 'fachadas:pagar-nomina' obra.pk dict_fecha.año_mes dict_fecha.dia%}" method="post" name="pagar_nomina" id="pagar_nomina">
                  {% csrf_token %}
                  Inicio: <input type="date" name="inicio_nomina" >
                  Final: <input type="date" name="final_nomina">
               </form>
            </div>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" form="pagar_nomina" class="btn btn-success">Reprogramar</button>
         </div>
      </div>
   </div>
</div>


