{% extends 'base.html' %}

{% block content %}


   <div class="row">
      <div class="col-md-12">
         <table class="table sticky" id="clientes-table">
            <h1 class="text-center">Mensajes</h1>
            <thead>
               <th col-index=1>Fecha de envio</th>
               <th col-index=2>Publico dirigido
                  <select class="table-filter form-select text-center" onchange="filter_rows()">
                     <option value="all">Todos</option>
                  </select>

               </th>
               <th col-index=3>Contenido</th>
               <th col-index=4>Estado</th>
               <th col-index=5>Imagen asociada</th>
            </thead>

            <tbody>
               {% for mensaje in mensajes%}
                  <tr>
                     <td>{{mensaje.fecha_hora}}</td>
                     <td>{{mensaje.lista_clientes}}</td>
                     <td>{{mensaje.contenido}}</td>
                     <td>{{mensaje.estado}}</td>
                     <td>{{mensaje.imagen}}</td>
                  </tr>
               {% endfor %}
            </tbody>

         </table>
         <hr>
         <div class="text-center">
            <a class="btn btn-success" href="{% url 'mensajes_masivos:programar-mensaje' %}">Programar mensaje</a> 
         </div>


      </div>
   </div>



{% endblock content %}
