{% extends 'base.html' %}

{% block content %}
   <div class="timeline">
      <h2 class="text-center" style="padding-bottom: 10px;">{{modelo.nombre_orgnanizacion}}</h2>
      <h3 class="text-center">Interaccion del dia: {{fecha}}</h3>
      {% for objeto in objetos %}
         {% if forloop.counter|divisibleby:2 %}
         <div class="container-timeline left-container">
         {% else %}
         <div class="container-timeline right-container">
         {% endif %}
         {% if objeto.tipo == "Archivo" %}
            <i class="bi bi-file-earmark-text"></i>
            <div class="text-box">
               <h2>{{objeto.elemento.fecha|date:"d/m/Y-H:i:s"}}</h2>
               <small>{{objeto.elemento.nombre}}</small>
               <p>Este archivo fue añadido por {{objeto.elemento.usuario}}</p>
         {% elif objeto.tipo == "Grupo_Pedido"%}
            <i class="bi bi-box-seam"></i>
            <div class="text-box">  
               <h2>{{objeto.elemento.fecha|date:"d/m/Y-H:i:s"}}</h2>
               <small>Click aca para ver mas detalles del pedido</small>
               <p>Este pedido fue realizado por {{objeto.elemento.usuario}}, ahora mismo se encuentra en
               el estado de {{objeto.elemento.estado}}
               </p>
         {% elif objeto.tipo == "Nota"%}
               <i class="bi bi-journal-plus"></i>
               <div class="text-box"> 
               <h2>{{objeto.elemento.fecha|date:"d/m/Y-H:i:s"}}</h2>
               <small>{{objeto.elemento.titulo}}</small>
               <p>{{objeto.elemento.contenido}}</p>
         {% endif %}
         {% if forloop.counter|divisibleby:2 %}
            <span class="left-container-arrow"></span>
         {% else %}
            <span class="right-container-arrow"></span>
         {% endif %}
         </div>
      </div>
      {% endfor %}

   </div>
{% endblock content %}
