<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

         <div class="navbar-nav">
            <a class="nav-link " href="{% url 'clientes:lista-cliente' %}">Clientes</a>
            {% if request.user.is_organisor %}
               <a class="nav-link" href="{% url 'empleados:lista-empleados' %}">Empleados</a>
            {% endif %}
         </div>

         <div class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
               <span class="navbar-text">Perfil: {{request.user.username}}</span> 
               <a class ="mx-3  nav-link" href="{% url 'logout' %}">Logout</a>

            {% else %}
               <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
               <a class ="nav-link" href="{% url 'login' %}">Login</a>


            {% endif %}

         </div>


      </div>
   </div>
</nav>
