{% extends 'base.html' %}

{% block content %}
   {% url 'inventario:eliminar-elemento' elemento.pk as eliminar_url %}
   {% include 'modals/eliminar_subelemento.html' %}
   {% include 'modals/eliminar_cliente.html' with link=eliminar_url object="Elemento"%}

   <div class="row">
      <div class="col-4">
         <div class="text-center">
            <h3>{{elemento.descripcion}}</h3>
            <h5>{{elemento.categoria}}</h5>
            <h5>Codigo: {{elemento.codigo_general}}</h5>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" title="Eliminar">
               <i class="bi bi-trash"></i>
            </button>
            <a href="{% url 'inventario:editar-elemento' elemento.pk %}" class="btn btn-warning">
               <i class="bi bi-clipboard-plus"></i>
            </a>
         </div>
         <div class="row">
            <div class="col-md-1"></div>
            <form method="post" class="my-5 col-md-10">
               <h4 class="text-center">Registro de subelemento</h4>
               {% csrf_token %}
               {{form.as_p}}
               <div style="text-align: center;">
                  <button type="submit" class="btn btn-success">Registrar</button>
               </div>
            </form> 
         </div>
      </div>
      <div class="col-8">
         <table class="table sticky">
            <thead>
               <th>Codigo unico</th>
               <th>Cantidad</th>
               <th>Marca</th>
               <th>Acciones</th>
            </thead>
            <tbody>
               {% for subelemento, subelemento_url in subelementos %}
                  <tr>
                     <td>{{subelemento.codigo_unico}}</td>
                     <td>{{subelemento.cantidad}}</td>
                     <td>{{subelemento.marca}}</td>
                     <td> 
                        <button class="btn btn-danger" title="Eliminar" data-bs-toggle="modal" data-bs-target="#modalEliminarSubelemento" onclick="setUrlModal('{{subelemento_url}}', 'url-eliminar-subelemento')">
                           <i class="bi bi-trash"></i>
                        </button>
                        <button class="btn btn-primary" title="Editar" onclick="location.href='{% url 'inventario:editar-subelemento' elemento.pk subelemento.pk %}'">
                           <i class="bi bi-clipboard-plus"></i>
                        </button>
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>

{% endblock content %}
