{% extends 'base.html' %}
{% block content %}

   <div class="row">
      <div class="col-md-8">
         <table class="table sticky" id="clientes-table">
            <h1 class="text-center">Elementos</h1>
            <thead>
               <th col-index=1>Codigo general</th>
               <th col-index=2>Descripcion</th>
               <th col-index=3>Categoria
                  <select class="table-filter form-select text-center" onchange="filter_rows()">
                     <option value="all">Todos</option>
                  </select>

               </th>
               <th>Fecha de registro</th>
            </thead>

            <tbody>
               {% for elemento in elementos  %}
                  <tr>
                     <td><a href="{% url 'inventario:detalles-elemento' elemento.pk %}">
                           {{elemento.codigo_general}}
                        </a></td>
                        <td>{{elemento.descripcion}}</td> 
                        <td>{{elemento.categoria}}</td>
                        <td>{{elemento.fecha}}</td>
                  </tr>
               {% endfor %}
            </tbody>

         </table>
         <hr>
         <div class="text-center">
            <a class="btn btn-success" href="{% url 'inventario:crear-elemento' %}">Registrar elemento</a> 
         </div>


      </div>
      <div class="col-md-4 text-center">
         <h1>Pedidos pendientes</h1>
         {% for pedido in pedidos  %}
            <div class="conatiner-pedido">
               <h3>
                  <a href="{% url 'general_usage:detalles-pedido' pedido.pk %}">
                 <i class="bi bi-box-seam"></i>

                  </a>
                 {{pedido.fecha | date:"d/m/Y-G:i"}}
               </h3> 
            </div>
         {% endfor %}
      </div>
   </div>


{% endblock content %}
