{% extends 'base.html' %}

{% block content %}
   {% block titulo %} 
      <h1 class="text-center">Todos los clientes</h1>
   {% endblock titulo %}
   <div class="row">
      <div class="col-md-12">
         <div class="table-responsive">
            <table class="table table-striped align-middle" id="clientes-table">
               <thead>               

                     <th class="text-center" col-index=1>Nombre</th>
                     <th class="text-center" col-index=2>Direccion</th>
                     <th class="text-center" col-index=3>Correo</th>
                     <th class="text-center" col-index=4>Frecuencia
                        <select  class="table-filter form-select text-center"   onchange="filter_rows()">
                           <option value="all">Todos</option>
                        </select>
                     </th>
                     <th class="text-center" col-index=5>Fecha de vencimiento
                        <select class="table-filter form-select text-center" onchange="filter_rows()">
                           <option value="all">Todos</option>
                        </select>

                     </th>
                     <th class="text-center" col-index=6>Estado
                        <select class="table-filter form-select text-center" onchange="filter_rows()">
                           <option value="all">Todos</option>
                        </select>

                     </th>
                     <th class="text-center"></th>
               </thead>
               <tbody>             

                  {% for cliente in clientes %}
                     <tr class="text-center">
                        <td><a href="{% url 'clientes:detalles-cliente' cliente.pk %}">{{cliente.nombre_orgnanizacion}}</a></td>
                        <td>{{cliente.direccion}}</td>
                        <td>{{cliente.correo}}</td>
                        <td>{{cliente.frecuencia_meses}}</td>
                        {% if cliente.fecha_vencimiento == None %}
                           <td>----</td>
                        {% else %}
                           <td>{{cliente.fecha_vencimiento}}</td>
                        {% endif %}
                        <td>{{cliente.estado}}</td>
                        <td> <a href="{% url 'clientes:detalles-cliente' cliente.pk %}" class="btn btn-primary align-self-lg-center" role="button">Detalles</a> </td>

                     </tr>
                  {% endfor %}
               </tbody>

            </table>
            <hr/>
            <div class="text-center">
               <a href="{% url 'clientes:crear-cliente' %}" class="btn btn-success align-self-lg-center" role="button">Crear un nuevo cliente</a>
            </div> 

         </div>
      </div>
   </div>
   <script>
      getUniqueValuesFromColumn()
   </script>

{% endblock content %}

